@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-size: 1.5rem;
  margin: 15px 0
}

h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}

pre {
  margin: 10px 0; 
  background-color: #eee;
  border-radius: 3px;
  padding: 10px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
